
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="left-nav">
        <ul>
            <li><a href="{% url 'board1_index' %}">모아보기</a></li>
            <li><a href="#">임시1</a></li>
            <li><a href="#">임시2</a></li>
            <li><a href="#">임시3</a></li>
            <li><a href="#">임시4</a></li>
        </ul>
    </div>
    <div class="grid-container" style="width: 100%;">
        <div class="grid-item" style="grid-column: span 2;">
            <h2>게시판</h2>
            {% for post in posts %}
                <div>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
