{% extends "board_base.html" %}

{% block content %}
<div class="left-nav">
    <ul>
        <li><a href="{% url 'board1_index' %}">모아보기</a></li>
        <li><a href="{% url 'post_list' 'temp1' %}">보안뉴스</a></li>
        <li><a href="{% url 'post_list' 'temp2' %}">보안가이드</a></li>
        <li><a href="{% url 'post_list' 'temp3' %}">임시3</a></li>
        <li><a href="{% url 'post_list' 'temp4' %}">임시4</a></li>
    </ul>
</div>
<div class="content">
    <div class="grid-item" style="height: 800px; width: 1200px;">
        <h2>{{ category }}</h2>
        <table class="post-table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>원본시간</th>
                    <th>시간</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for post in page_obj %}
                <tr>
                    <td>{{ total_posts|add:"-1"|add:forloop.counter0 }}</td>
                    <td>{{ post.get_category_display }}</td>
                    <td><a href="{% url 'post_detail' post.id %}">{{ post.title|truncatechars:20 }}</a></td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.original_time|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ post.created_at|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ post.views }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; 처음</a>
                    <a href="?page={{ page_obj.previous_page_number }}">이전</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">다음</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% if show_create %}
        <div class="btn-container">
            <button onclick="location.href='{% url 'create_post' category_key %}'">글 작성</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
