<!-- main/templates/main/home.html -->

{% extends 'main/base.html' %}

{% block content %}
    <div class="functions">
        <div class="function">
            <h2>Function1</h2>
            <!-- Function1 내용 -->
        </div>
        <div class="function">
            <h2>Function2</h2>
            <!-- Function2 내용 -->
        </div>
        <div class="function">
            <h2>Function3</h2>
            <!-- Function3 내용 -->
        </div>
        <div class="function">
            <h2>Function4</h2>
            <!-- Function4 내용 -->
        </div>
    </div>
{% endblock %}
