{% extends 'main/base_security.html' %}

{% block content %}
    <div class="post-detail">
        <h2>{{ post.title }}</h2>
        <div class="post-info">
            <span>카테고리: {{ post.category }}</span>
            <span>작성자: {{ post.author }}</span>
            <span>작성 시간: {{ post.created_at|date:"Y-m-d H:i" }}</span>
            <span>조회수: {{ post.views }}</span>
        </div>
        <div class="post-content">
            {{ post.content|linebreaks }}
        </div>
        <div class="button-area">
            <button onclick="location.href='{% url 'security_info' %}'">목록으로</button>
        </div>
    </div>
{% endblock %}
